<div>
  <div class="modal-header">
    <h3 class="modal-title">Please Log In</h3>
  </div>
  <div class="modal-body">
    <button class='but' ng-click='logInModal.signInAnonymously()'>Anonymously</button>
    <button ng-click='logInModal.logInWithEmailAndPassword()'>Email/Password</button>
    <input type="email" ng-model="logInEmail" name="logInEmail" /> Password:
    <input type="password" ng-model="logInPassword" name="logInPassword" />
    <button ng-click='logInModal.cancel()'>Cancel</button>
  </div>
</div>
