<div class="modal-header">
  <h3 class="modal-title">Please log in</h3>
</div>
<div class="modal-body">
  <p class='modal-paragraph'>Log in with your</p>
  <button class='btn btn-primary' ng-click='logInModal.logInWithEmailAndPassword()'>Email/Password</button>
  <input class='my-modal-text-field' placeholder='E-mail:' type="email" ng-model="logInEmail" name="logInEmail"/>
  <input class='my-modal-text-field' placeholder='Password:' type="password" ng-model="logInPassword" name="logInPassword"/>
  <p class='modal-paragraph'>Or</p>
  <div class=my-modal-footer>
    <button class='btn btn-primary' ng-click='logInModal.signInAnonymously()'>Anonymously</button>
    <button class='btn btn-warning my-cancel-button' ng-click='logInModal.cancel()'>Cancel</button>
  </div>
</div>
